
<h1>Lesson 1: The Tamil Alphabet</h1>
<p>The Tamil alphabet consists of 12 vowels and 18 consonants.</p>
<p>The vowels are:</p>
<ul>
<li>அ</li>
<li>ஆ</li>
<li>இ</li>
<li>ஈ</li>
<li>உ</li>
<li>ஊ</li>
<li>எ</li>
<li>ஏ</li>
<li>ஐ</li>
<li>ஒ</li>
<li>ஓ</li>
<li>ஔ</li>
</ul>
<p>The consonants are:</p>
<ul>
<li>க்</li>
<li>ங்</li>
<li>ச்</li>
<li>ஞ்</li>
<li>ட்</li>
<li>ண்</li>
<li>த்</li>
<li>ந்</li>
<li>ப்</li>
<li>ம்</li>
<li>ய்</li>
<li>ர்</li>
<li>ல்</li>
<li>வ்</li>
<li>ழ்</li>
<li>ள்</li>
<li>ற்</li>
</ul>


